<div class="wrapper">
    <!--=== Header v6 ===-->
<div id="menu-principal" class="header-v6 header-white-transparent header-sticky" style="position: relative;">
<div id="barra-superior" class="header-v8">
<!-- Topbar blog -->
<div class="blog-topbar">
    <div class="topbar-search-block">
        <div class="container">
            <form action="">
                <input type="text" class="form-control" placeholder="Buscar...">
                <div class="search-close"><i class="icon-close"></i></div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-xs-7">

                <div class="topbar-toggler" style="font-size: 10px; color: #eee; letter-spacing: 1px; text-transform: uppercase;"><span class="fa fa-angle-down"></span> PERFILES</div>
                <ul class="topbar-list topbar-menu">
     <li><a href="/universidad/perfiles/aspirantes/952"><i class="fa fa-users"></i> Aspirantes</a></li>
                    <li><a href="/universidad/perfiles/estudiantes/953"><i class="fa fa-user"></i> Estudiantes</a></li>
                    <li><a href="/universidad/perfiles/egresados/954"><i class="fa fa-graduation-cap"></i> Egresados</a></li>
                    <li><a href="#"><i class="fa fa-user-secret"></i> Docentes</a></li>
                     <li><a href="#"><i class="fa fa-briefcase"></i> Administrativos</a></li>



                    <li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signup" href="javascript:void(0);">Lenguaje</a></strong>
                    <ul class="topbar-dropdown">
                            <li><a href="#">Inglés</a></li>
                            <li><a href="#">Español</a></li>
                        </ul></li>
                         <li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signin" href="javascript:void(0);"><i class="fa fa-reply"></i> Versión Anterior</a></strong></li>
                </ul>
            </div>
            <div class="col-sm-5 col-xs-5 clearfix">
                <i class="fa fa-search search-btn pull-right"></i>
                <ul class="topbar-list topbar-log_reg pull-right visible-sm-block visible-md-block visible-lg-block">
                     <li class="cd-log_reg home" style="padding: 0px 12px;">
                         <div id="google_translate_element"></div><script type="text/javascript">
                             function googleTranslateElementInit() {
                                 new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'en,fr,it', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
                             }
                         </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

                     </li>

                     <li class="cd-log_reg home">
                        <a href="http://www.ufps.edu.co/ufps/index.php"><i class="fa fa-reply"></i> Versión Anterior</a>
                    </li>
                </ul>
            </div>
        </div><!--/end row-->
    </div><!--/end container-->
</div>
<!-- End Topbar blog -->

</div>


<div class="header-v8 img-logo-superior" style="background-color: #aa1916;">

<!--=== Parallax Quote ===-->
<div class="parallax-quote parallaxBg" style="padding: 30px 30px;">
 
        <div class="parallax-quote-in" style="padding: 0px;">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-5">
                    <a href="#">
                        <img id="logo-header"
                             src="assets/img/logo_ufps.png" alt="Logo UFPS">
                    </a>
                </div>
                <div class="col-md-2 col-ms-1 col-xs-2 pull-right">
                    <a href="http://www.colombia.co/"><img class="header-banner"
                                                           src="assets/img/escudo_colombia.png"
                                                           alt="Escudo de Colombia"></a>
                </div>
            </div>
        </div>
</div>
<!--=== End Parallax Quote ===-->


</div><!--/end header-v8-->


<div class="menu-responsive">
<!-- Logo -->
<a class="logo logo-responsive" href="index.html">
    <img src="assets/img/horizontal_logo_pequeno.png" alt="Logo">
</a>  
<!-- End Logo -->



<!-- Toggle get grouped for better mobile display -->
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="fa fa-bars"></span>
</button>
<!-- End Toggle -->
</div>

<!-- Navbar -->
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
<div class="container">
    <ul class="nav navbar-nav">
        <!-- Home -->
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                La  UFPS
            </a>
            <ul class="dropdown-menu">
                <li class="active"><a href="#">Rectoría</a></li>

                <!-- One Page -->
                <li class="dropdown-submenu">
                    <a href="javascript:void(0);">Organismos</a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                     </ul>
                </li>
                <!-- End One Page -->

                <!-- Shop UI Page -->
                <li class="dropdown-submenu">
                    <a href="javascript:void(0);">Información Institucional</a>
                    <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                    <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                         </ul>
                </li>
                <!-- End Shop UI -->

                <!-- Blog Template -->
                <li class="dropdown-submenu">
                    <a href="javascript:void(0);">Identidad Corporativa</a>
                    <ul class="dropdown-menu">
                        <li><a target="_blank" href="Blog/index.html">- Logo vertical y horizontal</a></li>
                        <li><a target="_blank" href="Blog/index.html">- Colores corporativos</a></li>
                        <li><a target="_blank" href="Blog/index.html">- Membrete</a></li>
                        <li><a target="_blank" href="Blog/index.html">- Rótulo cd</a></li>
                        <li><a target="_blank" href="Blog/index.html">- Plantilla power point</a></li>
                        <li><a target="_blank" href="Blog/index.html">- Fondo de escritorio</a></li>
                        <li><a target="_blank" href="Blog/index.html">- Plantilla de folleto</a></li>
                        <li><a target="_blank" href="Blog/index.html">- Caja para tesis</a></li>
                        <li><a target="_blank" href="Blog/index.html">- Tipografía</a></li>
                        <li><a target="_blank" href="Blog/index.html">- Agenda</a></li>
                        <li><a target="_blank" href="Blog/index.html">- Carpeta</a></li>
                        <li><a target="_blank" href="Blog/index.html">- Usos indebidos</a></li>
                        <li><a target="_blank" href="Blog/index.html">- Comunico 2d</a></li>
                        <li><a target="_blank" href="Blog/index.html">- Pag de iconografías</a></li>
                        <li><a target="_blank" href="Blog/index.html">- Manual de identidad</a></li>
                        <li><a target="_blank" href="Blog/index.html">- Directorio</a></li>
                    </ul>
                </li>
                <!-- End Blog Template -->
            </ul>
        </li>
        <!-- End Home -->

        <!-- Pages -->
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                Vicerrectorias
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                    <a href="#">Vice. Académica</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Vice. Asistente de estudios</a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);">Quiénes Somos</a>
                                    <ul style="list-style: none;">
                                    <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                         </ul></li>
                         <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                        </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                         </ul>
                </li>
                <!-- End Blog Template -->

                <!-- Service Pages -->
                <li class="dropdown-submenu">
                    <a href="javascript:void(0);">Vice. Administrativa</a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Quiénes somos</a>
                            <ul style="list-style: none;">
                            <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                        </ul></li>
                </li>
                <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                         </ul>
        </li>
        <!-- End Service Pages -->

        <!-- Contacts -->
        <li><a href="http://200.93.148.47/bienestar/">Vice. Bienestar Universitario</a></li>
        <!-- End Contacts -->
    </ul>
    </li>
    <!-- End Pages -->

    <!-- Blog -->
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            Dependencias
        </a>
        <ul class="dropdown-menu">
            <li><a href="javascript:void(0);">Secretaría General</a></li>
            <li class="dropdown-submenu">
                <a href="javascript:void(0);">Oficina de Control Interno</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0);"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Quienes somos</a>
                         <ul style="list-style: none;">
                         <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                         <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                         </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                    <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                         </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="javascript:void(0);">Oficina de Planeación</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0);"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Quienes somos</a>
                        <ul style="list-style: none;">
                        <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                          </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="javascript:void(0);"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Unidades</a>
                        <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                        <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                        <li class="dropdown-submenu">
                        <a href="javascript:void(0);"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Plan de acción institucional</a>
                     <ul class="dropdown-menu">
                     <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                         </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="javascript:void(0);">Oficina de Recursos Humanos</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0);"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Quienes somos</a>
                        <ul style="list-style: none;">
                        <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                         </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Normatividad</a></li>
                    <li class="dropdown-submenu">
                        <a href="javascript:void(0);"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Procesos y formatos</a>
                     <ul class="dropdown-menu">
                            <li><a href="#">Seguridad y Salud Ocupacional</a></li>
                            <li><a href="http://www.ufps.edu.co/ufpsnuevo/pcontenido/recurso_humano/calculo2.php">Simulación Calculo Puntaje</a></li>
                             </ul>
                    </li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Convocatorias</a></li>
                    <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                         </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="javascript:void(0);">Gestión Documental</a>
                <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                         </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="javascript:void(0);">Centro de Comunicaciones</a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0);">- Quienes somos</a></li>
                    <li class="dropdown-submenu">
                        <a href="javascript:void(0);">- Dependencias</a>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" href="Blog/blog_page_layouts1.html">Oficina de Prensa</a></li>
                            <li><a target="_blank" href="Blog/blog_page_layouts2.html">UFPS Radio</a></li>
                            <li><a target="_blank" href="Blog/blog_page_layouts3.html">Estudio de TV</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="javascript:void(0);">- Publicaciones</a>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" href="Blog/blog_page_layouts1.html">Oriente Universitario</a></li>
                            <li><a target="_blank" href="Blog/blog_page_layouts2.html">Siente la U</a></li>
                            <li><a target="_blank" href="Blog/blog_page_layouts3.html">Rectoría al día</a></li>
                            <li><a target="_blank" href="Blog/blog_page_layouts3.html">Nuestro norte</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="http://biblioteca.ufps.edu.co/">Biblioteca</a></li>
        </ul>
    </li>
    <!-- End Blog -->

    <!-- Portfolio -->
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            Programas
        </a>
        <ul class="dropdown-menu oferta">
            <li>
                <div class="mega-menu-content disable-icons container" style="padding-left: 20px; padding-right: 20px;">
                    <div class="row equal-height">
                        <div class="col-md-3 equal-height-in">
                            <ul class="list-unstyled equal-height-list">
                                <li class="title-menu-ofer"><h3>Facultades</h3></li>
                                <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                        
                                <li class="title-menu-ofer margin-top-20"><h3>Programas Tecnológicos</h3></li>

                                <!-- Common Elements -->
                                <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                        

                            </ul>
                        </div>
                        <div class="col-md-3 equal-height-in">
                            <ul class="list-unstyled equal-height-list">
                                <li class="title-menu-ofer"><h3>Programas Profesionales</h3>
                                </li>

                                <!-- Buttons -->
                               <li><a href="#">Seguridad y Salud en el Trabajo</a></li>
                                <li><a href="#">Trabajo Social</a></li>
                                <!-- End Icons -->
                            </ul>
                        </div>
                        <div class="col-md-3 equal-height-in">
                            <ul class="list-unstyled equal-height-list">
                                <li class="title-menu-ofer"><h3>Programas Técnicos</h3></li>
                                <!-- Forms -->
                                <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                        <!-- End Forms -->
                        <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                        <!-- Forms -->
                                <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                        </ul>
                        </div>
                        <div class="col-md-3 equal-height-in">
                            <ul class="list-unstyled equal-height-list">
                                <li class="title-menu-ofer"><a href="" class="no-padding"><h3>Programas de Posgrados</h3></a></li>
                                <!-- Forms -->
                                <li class="title-menu-ofer"><h5>Especializaciones</h5></li>
                                <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                        <!-- End Forms -->
                                <!-- Forms -->
                                <li class="title-menu-ofer margin-top-20"><h5>Maestrías</h5></li>
                                <!-- End Forms -->

                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!--                    <ul class="dropdown-menu">
                                <li><a href="portfolio_hover_colors.html">Pregrado</a></li>
                                <li><a href="portfolio_hover_colors.html">Posgrado</a></li>
                                <li><a href="portfolio_hover_colors.html">Distancia</a></li>
                                <li><a href="portfolio_hover_colors.html">Educación contínua</a></li>
                            </ul>-->
    </li>
    <!-- End Portfolio -->

    <!-- Shortcodes -->
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            Investigación
        </a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu">
                <a href="javascript:void(0);">Quienes somos</a>
                <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                         </ul>
            </li>
            <li><a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> Consejo Superior Universitario</a></li>
                        </ul>
    </li>
    <!-- End Shortcodes -->
        <!-- Features -->
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                Acreditación
            </a>
        </li>
        <!-- End Features -->
    <!-- Misc Pages -->
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            Internacionalización
        </a>
        <ul class="dropdown-menu">
            <li><a href="page_misc_blank.html">Convocatorias vigentes</a></li>
            <li><a href="http://cinera.ufps.edu.co/interufps/index.php?option=com_content&view=article&id=46&Itemid=55">Convenios</a></li>
            <li><a href="http://cinera.ufps.edu.co/interufps/index.php?option=com_content&view=article&id=70&Itemid=84">Guías y formatos</a></li>
            <li><a href="http://cinera.ufps.edu.co/interufps/index.php?option=com_content&view=article&id=48&Itemid=60">Movilidad Estudiantíl </a></li>
            <li><a href="http://cinera.ufps.edu.co/interufps/index.php?option=com_content&view=article&id=49&Itemid=61">Movilidad Docente </a></li>
            <li><a href="http://cinera.ufps.edu.co/interufps/">Enlaces de interés</a></li>
            <li><a href="http://cinera.ufps.edu.co/interufps/index.php?option=com_contact&view=contact&id=1&Itemid=83">Contacto</a></li>
        </ul>
    </li>
    <!-- End Misc Pages -->


    </ul>
</div>
</div><!--/navbar-collapse-->

<!-- End Navbar -->
</div>

    <ul class="pgwSlider">

    <li><a href="http://localhost:10003/unoticia/ufps-alcaldia-y-diocesis-de-tibu-articularan-iniciativas-para-el-desarrollo-del-catatumbo"><img src="assets/img/28e89a8d6a0ec5d1905e596ca2a28898.png"><span style="font-family: inherit; font-weight: bold;">UFPS, Alcaldía y Diócesis de Tibú articularán iniciativas para el desarrollo del Catatumbo</span></a>
</li>
        <li><a href="http://localhost:10003/unoticia/innovacion-creatividad-e-investigacion-la-propuesta-de-la-ufps-en-el-seminario-internacional-de-arquitectura"><img src="assets/img/00734e46e47cd9dfcf70b99c4b91bc58.png"><span style="font-family: inherit; font-weight: bold;">Innovación, creatividad e investigación la propuesta de la UFPS en el Seminario Internacional de Arquitectura</span></a>
</li>
        <li><a href="http://localhost:10003/unoticia/planton-por-la-paz-muestra-del-compromiso-de-la-ufps-por-la-construccion-de-una-nueva-colombia"><img src="assets/img/6d6fe00fd4cb104a238e5020b3317596.png"><span style="font-family: inherit; font-weight: bold;">Plantón por La Paz, muestra del compromiso de la UFPS por la construcción de una nueva Colombia</span></a>
</li>
        <li><a href="http://localhost:10003/unoticia/festival-ufps-territorio-de-paz-escenario-de-pedagogia-analisis-reflexion-y-muestras-artisticas"><img src="assets/img/2246d36031da923ba74a3ff8a6daef86.png"><span style="font-family: inherit; font-weight: bold;">Festival UFPS Territorio de Paz, escenario de pedagogía, análisis, reflexión, y muestras artísticas</span></a>
</li>





</ul>

<div class="row no-margin">
<div class="col-md-12">
<div class="owl-clients-v2" style="padding: 5px;">
    <div class="item text-center" style="padding-top: 5px;">
        <a href="/universidad/transparencia"><img
                src="assets/img/transparencia.png"
                class="hover-shadow"
                alt=""><h5><b>Transparencia y Acceso a la Información Pública</b></h5></a>
    </div>
    <div class="item text-center" style="padding-top: 5px;">
        <a href="/universidad/normatividad"><img
                src="assets/img/normatividad.png"
                class="hover-shadow"
                alt=""><h5><b>Normatividad</b></h5></a>
    </div>
    <div class="item text-center" style="padding-top: 5px;">
       <a href="/universidad/normatividad"><img
                src="assets/img/normatividad.png"
                class="hover-shadow"
                alt=""><h5><b>Normatividad</b></h5></a>
    </div>
    <div class="item text-center" style="padding-top: 5px;">
       <a href="/universidad/transparencia"><img
                src="assets/img/transparencia.png"
                class="hover-shadow"
                alt=""><h5><b>Transparencia y Acceso a la Información Pública</b></h5></a>
    </div>
    <div class="item text-center" style="padding-top: 5px;">
        <a href="http://sqrs.ufps.edu.co:8084/PQRSoftV1a/index2.ufps"><img
                src="assets/img/peticiones.png"
                class="hover-shadow"
                alt=""><h5><b>Peticiones, Denuncias, Quejas, Reclamos y Sugerencias</b></h5></a>
    </div>
    <div class="item text-center" style="padding-top: 5px;">
           <a href="/universidad/transparencia"><img
                src="assets/img/transparencia.png"
                class="hover-shadow"
                alt=""><h5><b>Transparencia y Acceso a la Información Pública</b></h5></a>
    </div>
    <div class="item text-center" style="padding-top: 5px;">
           <a href="/universidad/transparencia"><img
                src="assets/img/transparencia.png"
                class="hover-shadow"
                alt=""><h5><b>Transparencia y Acceso a la Información Pública</b></h5></a>
    </div>
</div>
</div>
</div>


<!-- EVENTOS ---------------------->
<div style="background-color: #e8e8e8; ">
<div class="container content-prin profile">
<div class="row margin-top-10">
    <div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
        <h1 style="font-size: 30px;"><b>Eventos</b></h1>
        <span class="bordered-icon"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
    </div>
    <div class="col-md-12">
        <div class="row equal-height-columns margin-bottom-10">

            <div class="container">
                <ul class="row block-grid-v2">
                                                                                                                                                                                                                                                                                                                        <li class="col-md-3 col-sm-6 md-margin-bottom-30" style="padding-left: 14px;">
                        
                        <div class="easy-block-v1">
                            <img src="assets/img/11.jpg" alt="">
                            <div class="easy-block-v1-badge rgba-red">
                                                                        Tuesday, 01 de November del 2016                                    </div>
                        </div>
                        <div class="block-grid-v2-info rounded-bottom  bloques_eventos">
                            <h5>
                                                                            <b><a href="/ueventos/serologias-estudiantes-antiguos-para-el-primer-semestre-de-2016">Serologías estudiantes antiguos para el primer semestre de 2016</a></b>
                                                                    </h5>
                                                                    <p style="font-size: 14px;">
                                    <b>Lugar: </b>Auditorio José Eustórgio Colmenares                                        </p>
                                                            </div>
                        </li>
                                                                                                                                                                                                                                                                                            <li class="col-md-3 col-sm-6 md-margin-bottom-30">
                        
                        <div class="easy-block-v1">
                            <img src="assets/img/22.jpg" alt="">
                            <div class="easy-block-v1-badge rgba-blue">
                                                                        Wednesday, 02 de November del 2016                                    </div>
                        </div>
                        <div class="block-grid-v2-info rounded-bottom  bloques_eventos">
                            <h5>
                                                                            <b><a href="/ueventos/prueba-de-suficiencia-en-ingles-ekt">Prueba de suficiencia en Inglés EKT</a></b>
                                                                    </h5>
                                                                    <p style="font-size: 14px;">
                                    <b>Lugar: </b>Auditorio José Eustórgio Colmenares                                        </p>
                                                            </div>
                        </li>
                                                                                                                                                                                                                                                                                            <li class="col-md-3 col-sm-6 md-margin-bottom-30">
                        
                        <div class="easy-block-v1">
                            <img src="assets/img/33.jpg" alt="">
                            <div class="easy-block-v1-badge rgba-purple">
                                                                        Wednesday, 16 de November del 2016                                    </div>
                        </div>
                        <div class="block-grid-v2-info rounded-bottom  bloques_eventos">
                            <h5>
                                                                            <b><a href="http://www.ufps.edu.co/ufpsnuevo/modulos/contenido/view_content.php?item=1">Maestría en Educación Matemática</a></b>
                                                                    </h5>
                                                                    <p style="font-size: 14px;">
                                    <b>Lugar: </b>auditorio                                        </p>
                                                            </div>
                        </li>
                                                                                                                                                                                                                                                                                            <li class="col-md-3 col-sm-6 md-margin-bottom-30">
                        
                        <div class="easy-block-v1">
                            <img src="assets/img/44.jpg" alt="">
                            <div class="easy-block-v1-badge rgba-default">
                                                                        Monday, 28 de November del 2016                                    </div>
                        </div>
                        <div class="block-grid-v2-info rounded-bottom  bloques_eventos">
                            <h5>
                                                                            <b><a href="/ueventos/i-encuentro-internacional-en-educacion-matematica-xiv-encuentro-mate">I Encuentro Internacional en Educación Matemática, XIV Encuentro de Matemática Aplicada y XI de Estadística</a></b>
                                                                    </h5>
                                                                    <p style="font-size: 14px;">
                                    <b>Lugar: </b>Auditorio Biblioteca                                        </p>
                                                            </div>
                        </li>
                                            </ul>
                <a href="http://localhost:10003/ueventos/calendario" class="btn-u btn-u-sm pull-right tooltips" data-toggle="tooltip" data-placement="left" data-original-title="Ingresar a Calendario de Eventos">Ver
                    más <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
            </div>

        </div>

    </div>
</div>

</div>
</div>
<!-- FIN EVENTOS --->

<!-- NOVEDADES -->
<div style="background-color: #b43432;">
<div class="container content-prin profile">

<div class="row margin-bottom-10 margin-top-10">
    <div class="headline-center-v2 margin-bottom-10">
        <h1 style="font-size: 30px; color:#fff;"><b>Novedades</b></h1>
        <span class="bordered-icon"><i class="fa fa-files-o" aria-hidden="true"></i></span>
    </div>

                                                                                <div class="col-sm-4">
            <div class="service-block-v1 md-margin-bottom-50" style="background: #fff; border-top: 5px solid #f1c40f;">
                                            <i class="icon-custom icon-lg rounded-x icon-color-yellow icon-line fa fa-link" style="background: #fff;"></i>
                                                                                        <h5 class="title-v3-bg text-uppercase"><a href="/udestacado/por-la-cual-se-convoca-a-los-empleados-y-trabajadores-ufps" style="text-transform:none; color:#464646;"><b>Por la cual se convoca a los empleados y trabajadores de la UFPS para elegir repres…</b></a>
                </h5>
                <p>
                    Thursday                            ,
                    03                            November                            2016                        </p>
                <a href="/udestacado/por-la-cual-se-convoca-a-los-empleados-y-trabajadores-ufps"><b>Leer
                        más</b></a>
            </div>
        </div>
                                                                                <div class="col-sm-4">
            <div class="service-block-v1 md-margin-bottom-50" style="background: #fff; border-top: 5px solid #3498db;">
                                            <i class="icon-custom icon-lg rounded-x icon-color-blue icon-line fa fa-link" style="background: #fff;"></i>
                                                                                        <h5 class="title-v3-bg text-uppercase"><a href="/udestacado/por-el-cual-se-convoca-al-estamento-docente-a-inscribirse-como-aspirante" style="text-transform:none; color:#464646;"><b>Por el cual se convoca al estamento docente a inscribirse como aspirante...</b></a>
                </h5>
                <p>
                    Friday                            ,
                    16                            September                            2016                        </p>
                <a href="/udestacado/por-el-cual-se-convoca-al-estamento-docente-a-inscribirse-como-aspirante"><b>Leer
                        más</b></a>
            </div>
        </div>
                                                                                <div class="col-sm-4">
            <div class="service-block-v1 md-margin-bottom-50" style="background: #fff; border-top: 5px solid #e74c3c;">
                                                                    <i class="icon-custom icon-lg rounded-x icon-color-red icon-line fa fa-search-plus" style="background: #fff;"></i>
                                                                <h5 class="title-v3-bg text-uppercase"><a href="/udestacado/fecha-limite-de-registro-en-el-sia-nota-1-previo-docentes-modalidad-presencial" style="text-transform:none; color:#464646;"><b>Fecha límite de registro en el SIA, nota 1 previo, Docentes Modalidad Presencial</b></a>
                </h5>
                <p>
                    Thursday                            ,
                    22                            September                            2016                        </p>
                <a href="/udestacado/fecha-limite-de-registro-en-el-sia-nota-1-previo-docentes-modalidad-presencial"><b>Leer
                        más</b></a>
            </div>
        </div>
                <div class="col-md-12 margin-top-10">
        <a href="/udestacado/listado_destacados/" class="btn-u btn-brd btn-brd-hover btn-u-light btn-u-sm pull-right tooltips" data-toggle="tooltip" data-placement="left" data-original-title="Más Novedades Anteriores">Ver
            más <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>

    </div>
</div><!--/row-->

</div>
</div>
<!-- FIN DESTACADOS -->

<!-- ICONOS REDES SOCIALES -->
<div class="cuadroredes">
<ul class="social-icons social-icons-color margin-top-10">
<li class="tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="Síguenos en Facebook"><a href="https://www.facebook.com/UFPS-C%C3%BAcuta-553833261409690" class="rounded social_facebook"></a>
</li>
<li class="tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="Síguenos en Twitter"><a href="https://twitter.com/UFPSCUCUTA" class="rounded social_twitter"></a></li>
<li class="tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="Síguenos en Youtube"><a href="https://www.youtube.com/channel/UCgPz-qqaAk4lbHfr0XH3k2g" class="rounded social_youtube"></a></li>
<li class="tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="Síguenos en Instagram">
    <a href="https://www.instagram.com/ufpscucuta/" class="rounded social_instagram"></a></li>
<li class="tooltips" data-toggle="tooltip" data-placement="bottom" data-original-title="Escuchanos en Vivo"><a href="#" class="rounded social_emisora"></a></li>
</ul>
</div>
<!-- FIN ICONOS REDES SOCIALES -->

<!-- End Content Part -->
            </div><!--/wrapper-->